nav {
  background-color: #3f1919;
  width: 100%;
  height: 110px;
  justify-content: center;
  font-family: "Roboto";
}

.menu {
  list-style: none;
}

.item {
  line-height: 2.5;
  text-align: center;
}

.item a:hover {
  color: #f16414;
}

.item a {
  color: #eadbc9;
  text-decoration: none;
  display: block;
  font-size: 24px;
  margin-top: 20px;
}

.active {
}

@media screen and (min-width: 280px) {
  nav {
  }
  .menu {
    display: flex;
    flex-direction: row;
  }

  .item {
    flex-grow: 1;
  }
}
