.btn-cafe{
    font-weight: bold;
    padding:10px;
    border-radius: 5px;
    margin-right: 5px;
    color: #EADBC9;
    background-color:#3F1919;
    border:2px solid #3F1919;
    width: auto;
  }
  
  .btn-cafe:hover{
    color:#EADBC9;
    background-color: #F16414;
    border:2px solid #F16414;
  }

