.listado_precios{
  background-color: #F4E9D7;
  box-sizing: border-box;
 justify-content: left;
  width: 50%;
}

#lista{
  justify-content:left;

}

.item_lista{
	width: 1000px;
	justify-content: space-between;
	background-color: #73574B;
	height: 90px;
	margin-top: 40px;
}

.item_lista h4{
	justify-content: space-between;
	color: #F4E9D7;
	margin-top: 40px;
	margin-right: 20px;
}

.item_lista h3{
	justify-content: space-between;
	color: #F16414;

	}